* {
  box-sizing: border-box;
}
.loading-animation {
  margin: 0 40%;
}
.article-page {
  display: flex;
}
.article-body {
  background-color: white;
  margin: 50px 20px 50px 20px;
  padding: 30px;
}
.article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-body h1 {
  font-size: 50px;
  margin-bottom: 30px;
}
.article-body h2 {
  margin-bottom: 30px;
}
.article-body h3 {
  margin-top: 30px;
}
.article-body b {
  font-size: larger;
}
.upvotes {
  font-size: larger;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.upvotes button {
  padding: 10px;
}

img {
  margin: 10px;
  max-width: 100%;
}

.body-content {
  width: 100%;
}

@media (min-width: 1400px) {
  .article-body {
    width: 80%;
    border: solid 2px brown;
    box-shadow: 0px 0px 10px 5px #888888;
  }
  .article {
    flex-direction: row;
    align-items: flex-start;
  }

  img {
    margin-right: 20px;
    width: auto;
    height: auto;
  }

  .body-content {
    width: auto;
  }
}

@media (max-width: 1400px) {
  .article-page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .article-body {
    width: 80vw;
    border: 2px solid brown;
    border-bottom: none;
    box-shadow: 0px -5px 5px -5px #888888, 0px 0px 10px 5px #888888;
  }
}
