a {
  text-decoration: none;
  color: black;
}

.articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.home-page-mini-header {
  display: flex;
  align-items: center;
  margin: 20px 10px 10px;
  padding: 15px;
  border: 3px solid rgb(60, 85, 117);
  background-color: white;
  box-shadow: 5px 10px 8px #888888;
  width: 80vw;
  max-width: 1000px;
}
.home-page-mini-header button{
  width: 100px
}

#outlined-basic {
  width: 30vw;
  max-width: 500px;
}

.articles-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin-top: 100px;
}
.articles-list li {
  max-height: 400px;
  display: flex;
  width: 90vw;
  justify-content: center;
  align-items: center;
  margin: 0 0 30px 0;
  padding: 10px;
  border: solid 2px brown;
  background-color: rgb(255, 255, 255);
  font-size: 25px;
  box-shadow: 5px 10px 8px #888888;
}

h4 {
  margin: 50px 0 10px 0;
  padding: 5px;
  font-size: 40px;
  background-color: white;
}
.articles b{
  background-color: white;
  padding: 10px;
  font-size: 25px;
  margin: 10px
}
@media (min-width: 1000px) {
  h4 {
    font-size: 50px;
  }
}
